* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 1%;
    display: flex;
    justify-content: space-between;
}

#view-scores {
    background-color: #ffffff;
    color: #5c189b;
    margin-top: 0;
    padding: 0;
    box-shadow: none;
}

#view-scores:hover {
    text-decoration: underline;
}

#main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* #start-section {
} */

#quiz-section {
    display: none;
    text-align: start;
}

#answers {
    display: flex;
    flex-direction: column;
}

#end-section {
    display: none;
    text-align: start;
}

#highscore-section {
    display: none;
}

main {
    flex: 0 0 50%;
    padding: 3%;
    text-align: center;
}

main h1, main h2 {
    padding-bottom: 2%;
}

main h1 {
    font-size: 250%;
}

main h2 {
    font-size: 200%;
}

main p, main label {
    font-size: 125%;
}

#correct-incorrect {
    margin: 1.5%;
    padding: 2%;
    color: #888888;
    border-top: solid 1px #888888;
    visibility: hidden;
    font-style: italic;
}

button {
    background-color: #5c189b;
    color: #ffffff;
    margin-top: 2%;
    padding: 1%;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #815ca5;
}

button:active {
    box-shadow: 0 0 5px 2px lightskyblue;
}

input {
    padding: .5%;
}

ol li {
    font-size: 125%;
    padding: .5%;
    background-color: #d3c8df;
    border-radius: 5px;
}